.outline {
    width: 96%;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}
#home-section {
    background: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    min-height: 700px !important;
    position: relative;
    font-family: "Roboto";
}
#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px !important;
    background-color: rgba(0, 0, 0, 0.3);
}
